body {
  background-image: url(/img/viena.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  background-attachment: fixed;
}
.navbar {
  position: sticky;
  background-color: rgba(0, 0, 0);
  opacity: 0.91;
}
nav {
  position: sticky;
}

.slide img {
  height: 65vh;
}
h1 {
  margin: 0;
}
#h1 {
  background-color: rgb(194, 147, 147);
  height: 200px;
  text-align: center;
  padding: 5em 0;
}
.logo-img {
  width: 30%;
}
.tarjetas {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(28, 27, 27, 0.3);
  color: white;
}
.tarjetas div {
  width: 30%;
  text-align: center;
}
.tarjetas p {
  font-size: 2vw;
}
.div-index img {
  width: 100%;
  height: auto;
}
.div-comodidades img {
  width: 100%;
  height: auto;
}
h2 {
  color: white;
  font-size: 4vw;
}

footer {
  background-color: rgba(0, 0, 0, 0.733);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.div-footer {
  display: flex;
}
footer img {
  width: 35px;
  margin: 0 20px;
  background-color: rgb(50, 50, 52);
}

.nav-icon {
  display: flex;
}

/*configuracion MQ INDEX*/
@media only screen and (max-width: 700px) {
  * {
    align-items: center;
  }
  main .div-index {
    width: 80%;
  }
  main .div-comodidades {
    width: 80%;
  }
  .tarjetas div h2 {
    font-size: 50px;
  }
  div .texto-tarjeta {
    font-size: 3vw;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
  .img_index {
    height: 80%;
    width: 80%;
  }

  .nav-menu {
    height: 250px;
    justify-content: space-evenly;
  }

  .ul-menu {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .div-index p {
    width: 100%;
  }
}
