@mixin h2 {
    background-color: rgba(50, 50, 46, 0.653);
    color: white;
    font-size: $h2-size;
    text-align: $h2-aling;
}

@mixin footer {

    height: 100px;

    background-color: rgba(97, 88, 85, 0.683);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
        margin: 0 0 0 10px;
        padding: 0;
    }

    .icon {
        display: flex;
        height: 100px;
        width: 300px;
        align-items: center;
        justify-content: space-evenly;

        img {
            height: 50px;
            width: 50px;
        }
    }

}