$h2-color: rgb(0, 0, 0);
$h2-size: 40px;
$h2-aling: center;
$text-color:  rgb(21, 21, 21);
$text-font: arial black ;
$text-size: 25px;
$text-aling: justify;
$tarjeta-bg: rgba(121, 132, 139, 0.17);
$bg_color_p_galeria: rgba(167, 167, 199, 0.365);